
h1 {
    text-align: center;
}

table {
    border: 0.5px solid  black;
    width: 95vw;
    height: 70vh;
    border-collapse: collapse;
}

th {
    width: 10vw;
    background-color: aqua;
    text-align: right;
    vertical-align: middle;
}

td {
    border: 0.5px solid  black;
    width: 40vw;
    background-color: pink;
    text-align: center;
    vertical-align: top;
}