html, body {
    margin: 3px;
    padding: 0px;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: crimson;
    text-shadow: 1px 1px 0px black;
} 

table {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.417);
    border-collapse: collapse;
}

caption {
    border: 1px solid black;
    background-color: lightgray;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

thead th, tfoot th, tfoot td {
    background-color: #383838;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    padding: 8px;
}

#sd {
    background-color: rgb(255, 3, 95);
}

#nd {
    background-color: rgb(3, 125, 255);
}

#su {
    background-color: rgb(175, 3, 255);
}

#no {
    background-color: rgb(3, 168, 31);
}

#co {
    background-color: rgb(248, 248, 0);
}
.nome, .reg {
    padding-left: 15px;
}
.num {
    text-align: center;
}

th {
    width: 33vw;
    text-align: left;
    padding-left: 3px;
}

td, th {
    border: 2.3px solid rgb(5, 5, 5);
    padding: 3px;
}
p {
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
